header,
footer {
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: center;
	gap: 1ex;
}

header #title {
	flex: 1;
	margin: 0;
	text-align: center;
	font-family: "Merriweather Sans", sans-serif;
	color: #737373;
}

footer > form {
	display: contents;
	font-family: "Merriweather Sans", sans-serif;
}
footer #message-content {
	flex: 1;
}

header,
footer {
	background-color: var(--background-secondary);
}
main {
	display: contents;
}

#messages {
	list-style: none;
	margin: 0;
	padding-inline-start: 0;
	overflow-y: scroll;
	max-height: 100%;
	padding: 1rem;
	width: 100%;
}
#messages > li {
	display: flex;
	flex-direction: row;
	gap: 1ex;
	font-family: "Merriweather Sans", sans-serif;
	padding: 0.2rem;
}
#messages > li > .msg-time {
	color: var(--foreground-secondary);
	width: 250px;
}

footer #message-send-button {
	color: var(--foreground-primary);
	background: var(--background-primary);
	border: 1px solid var(--background-primary);
	margin: 0;
	border-radius: 2px;
	font-family: "Merriweather Sans", sans-serif;
	padding-left: 5px;
	padding-right: 5px;
}

footer #message-content {
	color: var(--foreground-primary);
	background: var(--background-primary);
	border: 1px solid var(--background-primary);
	padding: 2px;
	margin: 0;
	border-radius: 2px;
	font-family: "Merriweather Sans", sans-serif;
}

select {
	background-color: var(--background-primary);
	border: 2px solid var(--background-primary);
	border-radius: 2px;
}

.user-icon {
	height: 20px;
	width: 20px;
	border-radius: 50%;
}

.user-name {
	font-size: 0.8rem;
	font-family: "Merriweather Sans", sans-serif;
	color: #737373;
}
