:root {
	--background-primary: #fff;
	--background-secondary: #eee;
	--foreground-primary: #000;
	--foreground-secondary: #777;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-primary: #444;
		--background-secondary: #333;
		--foreground-primary: #fff;
		--foreground-secondary: #ccc;
	}
}

* {
	color: var(--foreground-primary);
	box-sizing: border-box;
}

html,
body {
	box-sizing: border-box;
	height: 100vh;
	width: 100ww;
	margin: 0;
	background-color: var(--background-primary);
	overflow-y: hidden;
}

#root {
  box-sizing: border-box;
	height: 100vh;
	width: 100ww;
	margin: 0;
	background-color: var(--background-primary);
	overflow-y: hidden;
  display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr;
}

#root > * {
  padding: 1em;
}