ul {
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.center {
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  color: white;
  background: #707070;
  padding: 20px;
}

.chat-box {
  display: flex;
  flex-direction: column;
  justify-content: between;
  height: 100vh;
}

.messages-box {
  height: 100%;
  border: 1px solid black;
  background: grey;
  overflow-y: scroll;
  padding-top: 10px;
  padding-bottom: 10px;
}

.send-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 15px;
  height: 50px;
  background: #707070;
}

.enter-field {
  width: 100%;
  border-radius: 5px;
  border: 0px;
}

.enter-button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: 'Merriweather Sans', sans-serif;
  color: #ffffff;
  font-size: 22px;
  background: #363636;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  flex-shrink: 0;
  width: 200px;
}

.enter-button:hover {
  background: #ababab;
  text-decoration: none;
}

.chat-message {
  padding-left: 0;
  margin-left: 0;
  list-style-type: none;
  color: white;
  font-size: 20px;
  font-family: 'Merriweather Sans', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

html {
  height: 100%;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}